@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <br />
        <p>
           Please Click on<a class="nav-link table-responsive-sm" asp-area="" asp-controller="Home" asp-action="UserType">User Type</a> to start.
        </p>
    </div>
